# Global ignores
.DS_Store
Thumbs.db
*.log
.env
.env.local


# Symfony (api)
api/var/
api/vendor/
api/public/bundles/
api/composer.lock
api/node_modules/
api/public/uploads/*

# Next.js (front-end)
front-end/node_modules/
front-end/.next/
front-end/out/
front-end/package-lock.json

# Ignorer les fichiers générés par les IDE
.idea/
.vscode/
*.swp

# Ignorer les fichiers d'exécution
*.pid
*.seed
*.pid.lock
